@font-face {
    font-family: 'bol-title';
    src: url('../font/AlteHaasGroteskBold.ttf') format('truetype');
}
@font-face {
    font-family: 'regular-title';
    src: url('../font/AlteHaasGroteskRegular.ttf') format('truetype');
}

body,
html {
    margin: 0;
    padding: 0;
    width: 80mm;
}

.ticket {
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: left;
}

.ticket .center {
    text-align: center;
}

.ticket .right {
    text-align: right;
}

.ticket .bold {
    font-weight: bold;
}

.ticket table {
    width: 100%;
    border-collapse: collapse;
}

.ticket td {
    padding: 2px;
}

.image-document-icon {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-document-icon img {
    width: 35mm;
}

.title {
    margin-top: 3mm;
    margin-bottom: 2mm;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: initial;
}

.capital {
    text-transform: uppercase;
}
.type-document-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    font-family: 'bol-title';    
    padding: 2mm 0;
}
.moment-to-order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.document-client-and-origin{
    font-family: system-ui;
    font-size: 0.7rem;
}
.inpor-total-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 5px 0;
}
.table-data-order {
    font-family: system-ui;
    font-size: 0.7rem;
}