@media screen and (max-width: 768px) {
    .sidebar {
        width: 300px;
    }

    .content {
        width: calc(100% - 60px);
        left: 300px;
    }
    .sidebar .logo {
        justify-content: center;
        margin-right: 20px;
    }
}

@media (max-width: 992px) {
    .sidebar.close {
        width: 0px;
        display: block;
    }
}
.content {
    transition: all 1s cubic-bezier(0.42, 0, 0, 1.34);
}
.sidebar {
    transition: all 1s cubic-bezier(0.42, 0, 0, 1.34);

}
.sidebar.close .side-menu li a {
    transition: all 1s cubic-bezier(0.42, 0, 0, 1.34);
}
