.content main {
    padding: 20px;
}

.content main .header .left h1 {
    font-size: 25px;
}

span.limit-data {
    display: block;
    height: 3px;
    background-color: #7373735c;
    margin: 10px 0 0 0;
    width: 100%;
}

span.limit-not-margin {
    margin: 0;
    margin-bottom: 50px;
}

.salas-conteiner {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.conteiner-salas-btn {
    width: calc(100% - 280px);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}

.tabs-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    scroll-behavior: smooth;
    padding: 10px 0;
}

.tabs-container::-webkit-scrollbar {
    display: none;
}

.tabs-container button {
    background-color: #bfbfbf70;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 15px;
    color: var(--dark);
}

.add-room-btn {
    background-color: #f0f0f000;
    border: 4px solid #898989;
    padding: 5px 20px;
    cursor: pointer;
    margin-left: auto;
    border-radius: 20px;
    color: var(--dark);
}

.add-room-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    cursor: pointer;
}

i.fi.fi-bs-add {
    font-size: 20px;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #dd6702;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10;
    width: 40px;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.scroll-btn.left {
    left: 0;
    font-size: 2.2rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.scroll-btn.right {
    right: 200px;
    font-size: 2.2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1c22;
    padding: 20px;
    border: 3px solid #19191a;
    border-radius: 11px;
    color: var(--dark);
}

.table-item .table-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    margin-left: 15px;
}

.table-item .table-info img {
    width: 20px;
    cursor: pointer;
}

.status {
    padding: 5px 10px;
    border-radius: 10px;
}

.edit-panel {
    width: 600px;
    padding: 20px;
    background-color: #1c1c22;
    border: 1px solid #19191a;
    max-width: 30%;
    border-radius: 15px;
    height: 100%;
    color: var(--dark);
}

.edit-panel h3 {
    margin-top: 0;
}

.edit-panel label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
}

.edit-panel input[type="number"],
.edit-panel input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #25252c;
    border-radius: 5px;
    background-color: #25252c;
    color: var(--dark);
}

.edit-panel button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.conteiner-table {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tables-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    margin: 0 20px;
}

i.fi.fi-ss-trash {
    color: #c40000;
    font-size: 1.5rem;
}

span.span-data-table,
span.span-data {
    margin-bottom: 5px;
    user-select: none;
}

i.fi.fi-bs-add.table-add {
    font-size: 1.5rem;
}

.mandatory-sign {
    color: red;
}

.button {
    padding: 10px 20px;
    background-color: #6b00b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.button.active {
    background-color: #6b00b3;
    /* Color al activarse */
}

.div-compact {
    display: flex;
    gap: 15px;
}

.edit-panel button.btn-edit {
    background-color: rgb(172 106 0);
    margin-top: 20px;
    border-radius: 20px;
}

.edit-panel button.btn-new {
    background-color: rgb(23, 156, 0);
    margin-top: 20px;
    border-radius: 20px;
}

div#add-table-item {
    cursor: pointer;
}

div#add-table-item:hover {
    transition: background-color 1s;
    background-color: #121219;
}

.edit-panel button.btn-clear {
    background-color: rgb(156, 0, 0);
    margin-top: 20px;
    border-radius: 20px;
}

.btn-none {
    display: none;
}
