th.name {
    text-align-last: left;
}


.content main .bottom-data .orders table tr td:first-child.name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-style: italic;
}

p.state-data {
    background-color: red;
    border-radius: 10px;
    padding: 4px 0px;
    font-weight: bold;
    font-size: 0.8rem;
}