<div class="container-select-table">
    <div class="text-select-direction sub-title-selet-option-filt">
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <samp class="span-select-table ">
            Seleccione una fila para mas informacion.<samp style="color: red">*</samp>
        </samp>
    </div>
    <h1 class="select-point-sale counter-title-h1">{{text}}</h1>
    <div class="text-select-direction option-plus-order">
        <samp class="span-select-table">
            Presión encima para nuevos Pedidos
        </samp>
        <i class="fi fi-sr-layer-plus"></i>
    </div>
</div>
<div class="hover-message" id="button-div-option-new-order">
    <div class="sub-title-hover-order">Agregar nueva orden</div>
    <i class="fi fi-sr-layer-plus"></i>
</div>
