<div class="container-table-data">
    <div class="table-data">
        <div class="header-table-data">
            <span>{{lounge}} - Mesa: {{table}}</span>
            <span class="icon-table">👤</span>
        </div>
        <div id="data-item-client">

        </div>
    </div>
    <div class="footer-total">
        <span>s/ {{total}}</span>
        <div class="button-container">
            <button class="continue-button">
                Continuar
                <span class="arrow-detail">→</span>
            </button>
        </div>
    </div>
</div>
