
<div class="container-table-data">
    <div class="table-data">
        <div class="header-table-data">
            <span>{{lounge}} - Mesa: {{table}}</span>
            <button class="icon-table" title="Asignar datos del cliente"><i class="fi fi-ss-user-pen center-icon"></i> Datos</button>
        </div>
        <div id="data-item-client">

        </div>
    </div>
    <div class="footer-total">

        <div class="button-container-list">
            <button class="option-view-coment" title="Ver nota de la orden" style="display: {{note}};" onclick="noteOrderData()">
                <i class="fi fi-ss-memo center-icon"></i>
            </button>
            <button class="option-edit-list-order" title="Agregar ordenes a la mesa" onclick="addOrderClient({{orderId}})">
                <i class="fi fi-ss-customize-edit center-icon"></i>
            </button>
            <button class="continue-button" onclick="urlGet('/payment_service',{id:{{id}}})" title="Cobrar orden">
                <i class="fi fi-br-money-transfer-coin-arrow center-icon"></i> Cobrar
                <span id="price-item-data-total-product">s/ {{total}}</span>
            </button>
        </div>
    </div>
</div>
