
<div class="container-table-data">
    <div class="table-data">
        <div class="header-table-data">
            <span>{{lounge}} <span style="{{styleIsBar}}"> - Mesa: {{table}}</span></span>
            <button class="icon-table" title="Asignar datos del cliente"><i class="fi fi-ss-user-pen center-icon"></i> Datos</button>
        </div>
        <div id="data-item-client">

        </div>
    </div>
    <div class="footer-total">
        <span id="price-item-data-total-product">s/ {{total}}</span>
        <div class="button-container">
            <button class="continue-button" onclick="sendSegmentedData()">
                Continuar
                <span class="arrow-detail">→</span>
            </button>
        </div>
    </div>
</div>
