:root {
    --dark: #363949;
}

body.dark {
    --dark: #fbfbfb;
}

#filtered {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
    display: block;
}

.form-input {
    margin-top: 30px;
    display: flex;
    align-items: center;
    height: 36px;
    margin-bottom: 30px;
}

form .form-input select {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--filtered);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

form .form-input button {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
    margin-top: 0px;
}

.sub-link {
    color: var(--dark);
}

.active {
    color: var(--primary);
}

.container {
    display: grid;
    gap: 10px;
    overflow: hidden;
}

.apo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*max-height: 20vh;*/
    overflow: auto;
    /* Permite el scroll si el contenido excede los 20vh */
}

.checkbox-1 {
    margin: 5px 0;
}

.title_categories {
    color: var(--title-categories);
    font-size: 110%;
    font-family: "Courgette", cursive;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

.sub_categories {
    color: var(--dark);
    font-style: italic;
    font-family: "Courgette", cursive;
    font-size: 90%;
    cursor: pointer;
}

.title_categories_primary {
    color: var(--logo_color);
    font-size: 140%;
    font-family: "Sriracha", cursive;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

div#dimensions\ name-input {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.input-group.name-input {
    background-color: var(--input-color-name);
    width: 17vw;
    min-width: 17vw;
    height: 6vh;
    box-sizing: border-box;
}

input#name {
    font-size: 120%;
    text-align: center;
    color: black;
    font-family: "Sriracha", cursive;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: var(--dark);
    height: 100%;
}

input.button-opcion {
    border: 0px;
    height: 6vh;
    width: 14vw;
    min-width: 14vw;
    max-width: 20vw;
    color: white;
    font-family: "Courgette", cursive;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

input.button-opcion.previous {
    background-color: #ff5151;
    border-bottom-left-radius: 5vh;
    border-top-left-radius: 5vh;
}

input.button-opcion.next {
    background-color: #219c21;
    border-bottom-right-radius: 5vh;
    border-top-right-radius: 5vh;
}

label.title_categories:after {
    margin-top: 7px;
}

label.sub_categories:after {
    margin-top: 4px;
}

i.style-button-plus {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 14px;
    background-color: var(--btn-plus-list);
    margin-top: 4px;
}

.content main .bottom-data .orders table tr td:first-child {
    display: table-cell;
    grid-gap: 12px;
    padding-left: 6px;
}

.content main .bottom-data .orders table td.option {
    padding: 5px 0;
    width: 230px;
}

.button-option-employee {
    height: 40px;
    width: 70px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.button-option-employee.clear {
    background-color: rgb(209 0 0);
    transition: background-color 0.3s ease;
    margin-right: 5px;
}

.button-option-employee.edit {
    background-color: rgb(190 135 0);
    transition: background-color 0.3s ease;
    margin-right: 5px;
}

.button-option-employee.view {
    background-color: rebeccapurple;
    transition: background-color 0.3s ease;
}
.button-option-employee.clear:hover {
    background-color: rgb(76, 0, 0);
    transition: background-color 0.3s ease;
    margin-right: 5px;
}

.button-option-employee.edit:hover {
    background-color: #634700;
    transition: background-color 0.3s ease;
    margin-right: 5px;
}
.button-option-employee.view:hover {
    background-color: rgb(50, 0, 91);
    transition: background-color 0.3s ease;
}
.form-step.form-step-active.user-section {
    margin-top: 50px;
}
.option-table {
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
.content main .bottom-data .orders table tbody tr {
    cursor: initial;
}
.select.one{
    width: 100%;
}
.button-register{
    width: 100%;
}
@media (max-width: 992px) {


    .btn-mobile {

        margin-right: -2px;
        margin-left: auto;
        text-align: center;
        width: 130px;
        margin-top: -50px;
        padding: 0px;
        height: 50px;

    }

    .desktop {
        display: none;
    }

    i.style-button-plus {
        color: #ffffff;
        font-size: 15px;
        padding: 12px 20px;
        border-radius: 40px;
        background-color: var(--btn-plus-list);
        font-style: normal;
    }

}

@media(min-width:992px) {
    .mobile {
        display: none;
    }
}
