<tr class="movile-style-tr-get" id="idRow{{id}}">
    <td class="name-iten">
        <div class="name-aling-text"><span>{{name}}</span></div>
        <input type="text" name="supply_ids[]" value="{{id}}" class="hidden-input">
    </td>
    <td class="data-entry">
        <input type="number" name="quantities[]" id="quantity_{{id}}"
            class="quantity-input no-spinner input-number-style" value="{{quantity}}"  min="1">
    </td>
    <td class="data-entry">
        <input type="number" name="prices[]" class="price-input no-spinner input-number-style"
            value="{{price_per_unit}}" step="0.01" min="0">
    </td>
    <td class="data-entry">
        <input type="number" name="total_prices[]" class="price-input-total no-spinner input-number-style"
            value="{{price_total}}" step="0.01">
    </td>
    <td class="data-button">
        <!--
            <button class="button-icon-dimensions edit-color">
                <div class="icon-calibration">
                    <i class="fi fi-sc-pencil style-adicon-adaptation"></i>
                </div>
            </button>
        -->
        <div class="div-btn">
            <button type="button" class="button-icon-dimensions delate-color" onclick="deletesupplyRow('{{id}}')">
                <div class="icon-calibration">
                    <i class="fi fi-sr-trash style-adicon-adaptation"></i>
                </div>
            </button>
            {{option_to_anchor}}
        </div>
    </td>
</tr>
