.conteiner-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.table-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.tables-list {
    width: 100%;
    margin: 0;
    justify-content: center;
    display: block;
}

.table-item {
    padding: 10px;
    width: 100%;
    justify-content: center;
}

.table-item .table-info {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.tables-list-tomozo{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 160px));
    gap: 1rem;
    padding: 0rem;
    justify-content: center;
}
.table-item.table-data{
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container-secription-table {
    display: flex;
}
@media screen and (max-width: 768px) {
    span.span-data-table {
        font-size: 0.8rem;
        font-weight: 500;
        font-style: italic;
    }
    .table-item {
        padding: 8px;
    }
    .table-item:hover{
        background-color: var(--table-color-hover);
        color: rgb(255, 136, 0);
    }
    .content main .header {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 16px;
        flex-wrap: wrap;
        height: 30px;
        margin-top: -55px;
        margin-bottom: 15px;
    }
    .time-table-client {
        font-size: 0.8rem;
    }
    .data-info-table-sub-name .span-data-table,
    .data-info-table-sub-name .span-data {
        font-size: 1rem;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        font-style: normal;
    }
}